@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-brand-50 : #f2f7f4;
    --color-brand-100: #dfece1;
    --color-brand-200: #c2d8c8;
    --color-brand-300: #8eb69b;
    --color-brand-400: #6c9b7d;
    --color-brand-500: #4b7e5f;
    --color-brand-600: #38634a;
    --color-brand-700: #2d4f3d;
    --color-brand-800: #254030;
    --color-brand-900: #1f3529;
    --color-brand-950: #1f3529;

    --font-geist: 'Geist', sans-serif;
    --font-sans: var(--font-geist);

}

@layer base {
    :root {
        font-family: var(--font-geist);
        font-weight: 500;
        color: #0f172a;
        background-color: #ffffff;
        text-rendering: optimizeLegibility;
    }

    body {
        font-family: inherit;
        margin: 0;
        min-height: 100vh;
        background-color: inherit;
    }

    * {
        font-family: inherit;
    }
}
